body{
  background-color: #115383;
}
.nav a{
  font-family: 'Exo 2', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 4px;
  color: black;
}
.nav li{
  display: inline;
}
.jumbotron h1{
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #ccebff;
}
.jumbotron{
  background-image: url('http://placehold.it/1440x400');
  height: 400px;
  padding-bottom: 5px;
}
h2{
  color: #001e33;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 45px;
}
p{
text-indent: 50px;
font-family: 'Exo 2', sans-serif;
padding-top: 5px;
padding-bottom: 20px;
padding-left: 100px;
padding-right: 100px;
background-color: white;
}
