.jumbotron {
  background-image:url('http://placehold.it/2560x450');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
