.jumbotron {
  background-image:url('http://placehold.it/2560x800');
  background-size: 100%;
  width:100%
  position:relative;
}

.jumbotron .container {
  position: center;
  top:100px;
  max-width: 100%;
}
